@use '@styles/index' as *;

.contentContainer {
  box-sizing: border-box;

  @include on-desktop {
    margin-inline: auto;
    max-width: $desktop-min-width;
  }
}

.bg {
  background-color: #05080a;
  height: 100vh;
  z-index: 2;

  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);

  background-size: 40px 40px;
}

.headerContainer {
  background-color: #05080a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px 10px 20px;

  border-inline: 1px solid rgba(255, 255, 255, 0.1);

  height: auto;
  z-index: 10;
  position: relative;

  @include on-desktop {
    // margin-inline: 100px;
  }
}

.logoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative; // для псевдоелементів

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #a9dfd8, #f2c8ed, #f2994a);
    transform: scaleX(0);
    transition: transform 0.4s ease;
  }

  &::before {
    top: -6px;
    transform-origin: left;
  }

  &::after {
    bottom: -6px;
    transform-origin: right;
  }

  &:hover::before,
  &:hover::after {
    transform: scaleX(1);
  }
}

.flow {
  color: $info;
  font-weight: 800;
  font-size: 28px;
}

.crm {
  font-weight: 400;
  font-size: 18px;
  gap: 2px;
}

.sectionsWrapper {
  display: flex;
  flex-direction: row; // горизонтальный ряд
  gap: 20px; // расстояние между секциями
  // padding: 20px;
  width: 100%;
  border-inline: 1px dashed rgba(255, 255, 255, 0.1);
  background-color: #05080a;
}

//#region StartInfo

.startInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-right: 1px dashed rgba(255, 255, 255, 0.1);
}

.startInfoContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  padding: 32px;

  gap: 20px;

  @include on-desktop {
    padding: 64px;
  }
}

.newVersion {
  border: 1px solid $primary;
  border-radius: 18px;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: bold;
  font-size: 12px;
  color: #a8f0e6;
  background-color: rgba(168, 240, 230, 0.1);
  padding: 4px 10px;
}

.dot {
  line-height: 1;
  font-size: 1rem;
}

.startInfoText {
  font-size: 32px;
  text-align: start;
  padding-bottom: 20px;
  font-weight: 800;
}

.gradientText {
  background: linear-gradient(90deg, #a9dfd8, #f2c8ed, #f2994a);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.startButton {
  @extend .button;

  border-radius: 0;
}
//#endregion
//#region Preview
.preview {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.previewContent {
  padding: 32px;

  @include on-desktop {
    padding: 64px;
  }
}

//#endregion
