@use './utils/mixins' as *;

.h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 800;
  letter-spacing: -0.01em;

  @include on-tablet {
    font-size: 36px;
    line-height: 44px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 56px;
  }
}

.h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;

  @include on-tablet {
    font-size: 28px;
    line-height: 36px;
  }

  @include on-desktop {
    font-size: 32px;
    line-height: 41px;
  }
}

.h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @include on-tablet {
    font-size: 20px;
    line-height: 28px;
  }

  @include on-desktop {
    font-size: 22px;
    line-height: 28px;
  }
}

.h4 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;

  @include on-tablet {
    font-size: 18px;
    line-height: 24px;
  }

  @include on-desktop {
    font-size: 20px;
    line-height: 28px;
  }
}
