@use './index' as *;
@use './utils/normalize';

#root {
  margin: 0 auto;
  text-align: center;
  min-width: 320px;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: $bgc;
  color: $text;
  font-family: 'Mont', sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    gap: 15px;
    width: 100%;
    position: relative;
    padding-left: 60px;

    @include on-tablet {
      padding: 32px 0 64px 60px;
    }

    @include on-desktop {
      padding: 56px 0 80px 225px;
    }
  }

  footer {
    height: 100px;
    box-sizing: border-box;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: $primary;
  color: $text;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: $primary;
  }
}
input,
textarea {
  background-color: $bgBlock;
  color: $text;
  border: 1px solid $border;
  padding: 0.5rem;
  border-radius: 4px;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
  &:focus {
    border-color: $primary;
    outline: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text;
  margin-bottom: 1rem;
}
p {
  color: $textSecondary;
}

.icon {
  width: 14px;
  height: 14px;
}
