@use './index' as *;
@use './utils/normalize';

#root {
  margin: 0 auto;
  text-align: center;
  min-width: 320px;
}
html,
body {
  margin: 0;
  padding: 0;
  // overflow: hidden;
  background-color: $bgc;
  color: $text;
  font-family: 'Mont', Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  header {
    z-index: 10;
    border-bottom: 1px solid $border;
  }

  main {
    display: flex;
    flex: 1;
    gap: 15px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
  }

  footer {
    height: 100px;
    box-sizing: border-box;
    background-color: $bgBlock;
    z-index: 10;
    border-top: 1px solid $border;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: $primary;
  color: $bgBlock;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: $primary;
  }
}
input,
textarea {
  background-color: $bgBlock;
  color: $text;
  border: 1px solid $border;
  padding: 0.5rem;
  border-radius: 4px;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
  &:focus {
    border-color: $primary;
    outline: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text;
  // NOTE: поки шо прибрав, бо дуже не зручно, текст зʼїзжає
  // margin-bottom: 1rem;
}
p {
  color: $textSecondary;
}

.icon {
  width: 14px;
  height: 14px;
}

.no-scroll {
  overflow: hidden;
}
