@use '@styles/index' as *;
.product_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.products_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  width: 100%;
}
.product_buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 8px;

  button {
    display: flex;
    gap: 6px;
    @extend .button_secondary;

    &.active {
      color: $primary;
      transform: scale(1.1);
    }
  }
}

h2 {
  text-align: left;
}
