@use '../../../app/styles/utils/vars' as *;

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px;
}
.modal__content {
  position: relative;
  z-index: 1;
  background-color: $bgc;
  border-radius: 12px;
  padding: 24px;
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
  overflow-y: auto;
}

.modal_title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 15px;
}
