@use '@styles/index' as *;

.product_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  max-height: 450px;
  padding: 12px;
  gap: 10px;
  background-color: $bgBlock;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid $border;
  height: 100%;
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  &__removed {
    opacity: 0.9;
  }
}

.delete,
.edit {
  display: flex;
  position: absolute;
  top: 5px;
  z-index: 1;
  width: 25px;
  height: 25px;
  background-color: $bgBlock;
  border: none;
  font-size: 1rem;
  padding: 0;
  flex: 0 0;
  font-size: 20px;
  transform: scale(0);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  padding: 3px;

  button {
    width: 100%;
    height: 100%;
  }

  &.show {
    transform: scale(1);
    opacity: 0.7;

    &:hover {
      transform: scale(1.2);
      opacity: 1;
    }
  }
}
.edit {
  left: 5px;
  color: $success;
  border-radius: 5px;
}

.delete {
  right: 5px;
  color: $error;
  border-radius: 50%;
}

.product_image {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 150px;
    max-height: 180px;
    border-radius: 8px;
  }
}

.product_title,
.product_price,
.product_description {
  display: flex;
  width: 100%;
}

.product_title {
  justify-content: center;
  color: $primary;
}

.product_price {
  justify-content: space-between;
}

.product_description {
  max-height: 120px;
  flex: 1 0;
  font-size: 0.8rem;
  color: $textSecondary;

  span {
    overflow-y: auto;
    @include scroll-bar;
  }
}
.restore_button {
  @extend .button;
}
