@use '@styles/index' as *;

/* ===== COLUMN ===== */
.progress_card__column {
  display: flex;
  width: 100%;
  max-height: 500px;
  overflow: auto;
  color: $textSecondary;

  @include scroll-bar;
}

.progress_card__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem 0.8rem 1rem 1rem;
  box-sizing: border-box;
}

/* ===== CLIENT ITEM ===== */
.progress_card__client {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem 0 0 1rem;
  background-color: $border;
  border-radius: 0.5rem;
  border-left: 1px solid $textSecondary;
  box-sizing: border-box;
  transition: box-shadow 1.3s ease;

  &.isDraggin {
    box-shadow:
      inset 2px 0 0px $primary,
      inset -2px 0 0px $primary;
  }
}

.progress_card__row {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 15px;
  padding: 3px;
  overflow: hidden;
  box-sizing: border-box;
}

/* ===== ICON ===== */
.progress_card__icon {
  flex-shrink: 0;
  font-size: 14px;
  transition: color 0.3s ease;

  &--green {
    color: $success;
  }

  &--yellow {
    color: $warning;
  }

  &--blue {
    color: $info;
  }
}
