@use '../../styles/utils/vars' as *;

.button {
  background-color: $primary;
  color: $bgBlock;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    color 0.3s,
    transform 0.3s ease;

  &:hover {
    box-shadow: 0 0 10px $primary;
  }

  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    background-color: $textSecondary;
    cursor: auto;
    box-shadow: none;
  }
}

.button_secondary {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: $info;
  transition: transform 0.3s ease;

  &:hover {
    color: $primary;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.errorContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .errorText {
    color: #ff4d4f;
    font-size: 12px;
    margin-top: 4px;
  }

  .errorIcon {
    color: $error;
  }
}

.errorInput {
  border: 1px solid $error !important;
}
.successInput {
  border: 1px solid $success !important;
}
