@use './vars' as *;

@mixin on-mobile {
  @media (min-width: $mobile-min-width) and (max-width: ($tablet-min-width - 1)) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) and (max-width: ($desktop-min-width - 1)) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin hover($_property, $_toValue) {
  & {
    transition: #{$_property} 0.3s;
  }

  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin scroll-bar {
  /* Webkit scrollbar */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $border;
    border-radius: 4px;
    transition: background-color 0.5s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary;
  }
}

.container {
  padding-inline: 16px;
  box-sizing: border-box;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    padding-inline: 32px;
    margin-inline: auto;
    max-width: $desktop-min-width;
  }
}

.page-container {
  padding: 16px 0 16px 76px;
  width: 100%;

  @include on-tablet {
    padding: 24px 0 24px 84px;
  }

  @include on-desktop {
    padding: 32px 0 32px 210px;
    max-width: $desktop-min-width;
  }
}
