@use './vars' as *;

@mixin on-mobile {
  @media (min-width: $mobile-min-width) and (max-width: ($tablet-min-width - 1)) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) and (max-width: ($desktop-min-width - 1)) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin hover($_property, $_toValue) {
  & {
    transition: #{$_property} 0.3s;
  }

  &:hover {
    #{$_property}: $_toValue;
  }
}

.container {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    padding-inline: 32px;
    margin-inline: auto;
    max-width: 1280px;
  }
}
