$mobile-min-width: 320px;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$primary: var(--primary);
$secondary: var(--secondary);
$bgc: var(--bgc);
$bgBlock: var(--bgBlock);
$text: var(--text);
$textSecondary: var(--textSecondary);
$border: var(--border);
$icons: var(--icons);
$error: var(--error);
$warning: var(--warning);
$info: var(--info);
$success: var(--success);

html[data-theme='dark'] {
  --primary: #a9dfd8;
  --secondary: #f2c8ed;
  --bgc: #171821;
  --bgBlock: #21222d;
  --text: #ffffff;
  --textSecondary: #87888c;
  --border: #2c2e3a;
  --icons: #87888c;
  --error: #ed2b19;
  --warning: #f2994a;
  --info: #2d9cdb;
  --success: #27ae60;
}

html[data-theme='light'] {
  --primary: #a9dfd8;
  --secondary: #f2c8ed;
  --bgc: #ffffff;
  --bgBlock: #f5f5f5;
  --text: #171821;
  --textSecondary: #5a5d7c;
  --border: #d1d1d6;
  --icons: #5a5d7c;
  --error: #ed2b19;
  --warning: #f2994a;
  --info: #2d9cdb;
  --success: #27ae60;
}
