$mobile-min-width: 320px;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$primary: var(--primary);
$secondary: var(--secondary);
$bgc: var(--bgc);
$bgBlock: var(--bgBlock);
$text: var(--text);
$textSecondary: var(--textSecondary);
$border: var(--border);
$icons: var(--icons);
$error: var(--error);
$warning: var(--warning);
$info: var(--info);
$success: var(--success);
