@use '@styles/index' as *;

.product_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 250px;
  overflow: hidden;
  max-height: 500px;
  padding: 12px;
  gap: 10px;
  background-color: $bgBlock;
  box-sizing: border-box;
  border-radius: 10px;
  height: 100%;
  position: relative;
}

.product_image {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  height: minmax(100px, 180px);
  border-radius: 12px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    color: $text;
    background-color: rgba($color: #000000, $alpha: 0.5);

    input {
      padding: 0;
      width: 0;
      opacity: 0;
    }
  }
}

.product_title,
.product_price,
.product_description {
  display: block;
  width: 100%;

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;

    span {
      display: block;
      width: max-content;
      overflow: visible;
    }

    input {
      width: 60%;
      text-align: right;
      box-sizing: border-box;
    }
  }
}

.product_description {
  display: flex;
  flex: 1 0;

  label {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;

    textarea {
      text-align: left;
      color: $textSecondary;
      width: 100%;

      @include scroll-bar;
    }
  }
}

.edit_product_buttons {
  display: flex;
  padding-top: 20px;
  width: 100%;
  justify-content: space-between;

  button {
    @extend .button;
  }
}
