@use '../../app/styles/utils/mixins' as *;

.kanbanWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.kanban {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  gap: 20px;
}
