@use '../../styles/utils/vars' as *;

.progress_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $bgBlock;
  border-radius: 10px;
  border: 1px solid $border;
  max-height: 1000px;
  height: min-content;
}

.progress_card__top_bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;

  &::after {
    content: '';
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    border-bottom: 1px solid $border;
  }
}

.progress_card__status {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.progress_card__add_client {
  background-color: transparent;
  color: $info;
  cursor: pointer;
}
