@use '@styles/index' as *;

.section_aperance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 100dvh;
  max-width: 400px;
  margin: auto;
}

.form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 6px;

  .inputWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid $border;

      &.errorInput {
        border: 1px solid $error;
      }

      &.successInput {
        border: 1px solid $success;
      }
    }

    label {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      color: $textSecondary;
      pointer-events: none;
      transition: 0.3s ease all;
      background-color: $bgBlock;
    }

    &.active label {
      top: 0;
      transform: translateY(-50%) scale(0.9);
      padding: 0 4px;
      color: $primary;
    }
  }
}

.errorText {
  font-size: 12px;
  color: $error;
}

.submit {
  @extend .button;
}

.login_link {
  display: flex;
  max-width: 400px;
  width: 100%;
  justify-content: space-around;
  color: $primary;
  font-size: 14px;
}

.togglePassword {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: $primary;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-50%) scale(1.1);
  }
}
