@use '@styles/index' as *;

/* ==== WRAPPER ==== */
.wrapper {
  // width: calc(100% - 200px);
  // width: auto;
  // max-width: 100%;
  box-sizing: border-box;

  background: $bgBlock;
  border-radius: 12px;
  border: 1px solid $border;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);

  overflow-x: auto;
  overflow-y: hidden;

  @include on-tablet {
    // width: auto;
  }

  @include scroll-bar;
}

/* ==== Tablet==== */

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 12px 16px;
    text-align: left;
    font-size: 14px;
    color: $textSecondary;
    white-space: nowrap;
  }

  th {
    background-color: $bgc;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #e5e7eb;
  }

  td {
    border-bottom: 1px solid #f1f5f9;
  }

  tbody tr {
    transition: background-color 0.15s ease;
  }

  tbody tr:not(.inactiveRow):hover {
    background-color: $border;
  }

  tbody tr:not(.inactiveRow):hover td {
    color: $primary;
  }

  .thId,
  .tdIndex {
    color: $primary;
  }
}

/* ==== INACTIVE ROW ==== */
.inactiveRow {
  opacity: 0.65;
  background: $bgc;

  // &:hover {
  //   background: $bgBlock;
  //   color: #fff; // убираем hover
  // }
}

/* ==== ICON BUTTON ==== */
.iconButton {
  background: none;
  border: none;

  cursor: pointer;
  font-size: 18px;
  // color: $error;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition:
    transform 0.15s ease,
    opacity 0.15s ease;

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .FaPlayCircle {
    color: $success;
  }

  .FaStopCircle {
    color: $error;
  }
}
