@use './../../app/styles/utils/vars' as *;
@use './../../app/styles/utils/mixins' as *;

.navbar {
  color: $textSecondary;
  background-color: $bgc;
  padding: 1rem;
  border-radius: 8px;
  width: 170px;
  height: 100%;

  @include on-mobile {
    width: 80px;

    .nav_items .nav_item {
      a {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    &:hover {
      width: 80px;
      transition: width 0.3s ease;
    }
    &:hover .nav_items .nav_item a span {
      // width: 100%;
      overflow: visible;
      transition: width 0.3s ease;
    }
  }

  .nav_items {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .nav_item {
      display: flex;
      align-items: center;

      a {
        color: inherit;
        font-size: 16px;
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
        padding: 8px 0 8px 8px;
        transition: all 0.3s ease;

        @include on-mobile {
          justify-content: center;
          padding: 8px;
        }

        .icon {
          font-size: 30px;
          transition: all 0.3s ease;
        }

        span {
          display: flex;
          width: 100%;

          @include on-mobile {
            width: 0px;
            overflow: hidden;
          }
        }
      }

      a:hover {
        text-decoration: none;
        background-color: $bgBlock;
        border-radius: 5px;
        color: $primary;
        transform: scale(1.05);
      }

      a:hover .icon {
        animation: icon_hover 0.8s ease;
      }
    }
  }
}

@keyframes icon_hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
