@use '@styles/index' as *;

.navbar {
  color: $textSecondary;
  background-color: $bgc;
  padding: 0.5rem;
  border-radius: 12px;
  width: 60px;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 9;

  box-shadow:
    4px 0 10px $bgc,
    4px 0 15px $bgc,
    8px 0 25px $bgc;

  @include on-desktop {
    width: 225px;
  }

  .nav_items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    position: relative;
    padding-top: 30px;
    box-sizing: border-box;
    width: 100%;

    .burger_btn {
      display: flex;
      align-items: center;
      justify-content: right;
      background-color: $bgc;
      font-size: 20px;
      color: $textSecondary;
      background-color: #fff;
      position: absolute;
      height: 20px;
      top: 0;
      right: 0;
      left: 0;
      padding: 0;
      background-color: transparent;
      border: none;

      .burger_icon {
        transition:
          transform 0.5s ease,
          color 0.3s ease;
      }

      @include on-desktop {
        display: none;
      }
    }

    .nav_item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: inherit;

      .active {
        color: $primary;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: inherit;
        font-size: 16px;
        width: 100%;
        padding: 8px 10px;
        position: relative;

        box-sizing: border-box;
        transition: all 0.3s ease;

        @include on-desktop {
          gap: 10px;
        }

        .icon {
          flex-shrink: 0;
          font-size: 25px;
          width: 25px;
          transition: all 0.3s ease;
        }

        span {
          display: flex;
          position: absolute;
          left: 45px;
          opacity: 0;
          width: 0px;
          text-wrap: nowrap;
          box-sizing: content-box;

          transition:
            width 0.3s ease,
            opacity 0.4s ease;

          @include on-desktop {
            opacity: 1;
            width: 150px;
          }
        }
      }

      a:hover {
        text-decoration: none;
        background-color: $bgBlock;
        border-radius: 15px;
        color: $primary;
        transform: scale(1.05);
      }

      a:hover .icon {
        animation: icon_hover 0.8s ease;
      }
    }
  }

  &_open {
    width: 225px;

    .nav_items {
      .burger_btn {
        .burger_icon {
          color: $primary;
          transform: rotate(180deg);
        }
      }
      .nav_item {
        a {
          span {
            width: 150px;
            opacity: 1;
          }
        }
      }
    }
  }
}

@keyframes icon_hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
