@use '@styles/index' as *;

.content {
  display: flex;
  flex-direction: column;
  gap: 12px; // расстояние между инпутами
  width: 100%;
}

.content input,
.content textarea {
  width: 100%;
  box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 8px;
}

.create_client,
.cancel {
  @extend .button;
}
