@use '@styles/index' as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: $bgBlock;
  padding: 24px;
  border-radius: 12px;
  width: 400px;
  z-index: 1;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.create_client,
.cancel {
  @extend .button;
}
