@use '@styles/index' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include on-tablet {
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    width: calc(100vw - 125px);
  }
}
