@use '@styles/index' as *;

.title {
  display: flex;
  justify-content: start;
  padding-bottom: 15px;
  padding-inline: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  // justify-content: center;
  padding-inline: 16px;
  width: calc(100% - 20px);

  @include on-tablet {
    flex-direction: column;
    width: calc(100% - 80px);
  }

  @include on-desktop {
    gap: 50px;
    width: calc(100% - 30px);
  }
}
