@use '@styles/index' as *;

.close_modal {
  display: flex;
  flex: 0 0;
  font-size: 20px;
  color: red;
}
.client_info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.client_info__row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0.5rem;
  border-bottom: 1px solid $border;
}
.client_notes {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  gap: 1rem;
  padding-top: 10px;

  span,
  textarea {
    padding: 0.5rem;
    box-sizing: border-box;
  }

  textarea {
  }

  button {
    align-self: end;
  }
}

.client_notes__buttons {
  display: flex;
  justify-content: space-between;
}
.client_notes__create {
  @extend .button;
}
.client_notes__show {
  display: flex;
  justify-content: space-between;
  @extend .button_secondary;
}
.client_notes__row {
  display: flex;
  text-align: left;
  border: 1px solid $border;
  color: $textSecondary;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-height: 35px;
  padding-top: 20px;
}

textarea {
  width: 100%;
  text-overflow: auto;
}
.client_notes__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  opacity: 0;
  max-height: 10px;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease,
    opacity 0.3s ease;

  &.show {
    max-height: 300px;
    padding: 10px;
    opacity: 1;
  }

  @include scroll-bar;
}

label {
  color: $textSecondary;
}

a {
  color: $info;
  text-decoration: underline;
}

.client_info__row p {
  color: $text;
}
.client_info__row p.green {
  color: $success;
}

.client_info__row p.yellow {
  color: $warning;
}

.client_info__row p.blue {
  color: $info;
}
