@use '@styles/index' as *;

.client_info {
  display: flex;
  flex-direction: column;
  width: 100%;

  input {
    text-align: end;
    border: none;
    background-color: transparent;
    height: auto;
    width: auto;
    font-size: inherit;
  }

  select {
    width: auto;
    height: auto;
    border: none;
    outline: none;
  }
}
.client_info__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0.5rem 0.7rem;
  border-bottom: 1px solid $border;

  &:hover {
    background-color: $border;
    border-radius: 12px;

    input,
    span,
    label {
      font-weight: 600;
      color: $primary;
    }

    select {
      background-color: $primary;
      color: $bgc;
    }
  }
}

.client_notes__buttons {
  display: flex;
  width: 100%;
  padding-block: 20px;
  justify-content: space-between;

  button {
    @extend .button;
  }
}

.client_notes__show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  @extend .button_secondary;
}

.client_notes {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  gap: 1rem;
  padding-top: 10px;

  button {
    align-self: end;
  }
}

.client_notes__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  opacity: 0;
  max-height: 0px;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease,
    opacity 0.3s ease;

  &.show {
    max-height: 300px;
    padding: 10px;
    opacity: 1;
  }

  @include scroll-bar;
}

.client__create_note {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.client_note__create_buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;

  button {
    @extend .button_secondary;
  }
}

.client_notes__row {
  display: flex;
  text-align: left;
  border: 1px solid $border;
  color: $textSecondary;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-height: 35px;
  padding-top: 20px;
}

label {
  color: $textSecondary;
}

a {
  color: $info;
  text-decoration: underline;
}

.client_info__row p {
  color: $text;
}
.client_info__row span.green {
  color: $success;
}

.client_info__row span.yellow {
  color: $warning;
}

.client_info__row span.blue {
  color: $info;
}
span,
textarea {
  box-sizing: border-box;
  text-align: start;
  max-width: 100%;
}
textarea {
  text-overflow: auto;
}

span {
  overflow: hidden;
}
