@use '@styles/index' as *;

.wrapper {
  width: calc(100% - 80px);
  max-width: 100%;
  background: $bgBlock;
  border-radius: 12px;
  border: 1px solid $border;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  overflow-x: auto;

  @include scroll-bar;

  @include on-tablet {
    width: calc(100% - 80px);
  }

  @include on-desktop {
    width: auto;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: max-content;

  @include on-desktop {
    min-width: 720px;
  }

  /* ✅ ВСЕ ТЕГИ ТЕПЕРЬ scoped */
  th,
  td {
    padding: 12px 16px;
    text-align: left;
    font-size: 14px;
    color: $textSecondary;
    white-space: nowrap;
  }

  th {
    background-color: $bgc;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #e5e7eb;
  }

  td {
    border-bottom: 1px solid #f1f5f9;
  }

  tbody tr {
    transition: background-color 0.15s ease;
  }

  tbody tr:hover {
    background-color: $border;
  }

  tbody tr:hover td {
    color: $primary;
  }

  .thId,
  .tdIndex {
    color: $primary;
  }
}
